body, html{
margin-left:10px;
margin-right:10px;
padding-top:0px;
background-repeat:repeat-x;
font-family: arial, 'Helvetica', verdana;
font-size:14px;
color:#18273D;
}
a:link {
COLOR:#1D2E4A;
}
a:visited {
COLOR:#1D2E4A;
}

a.invers:link {
COLOR:#F2F2E1;
text-decoration: none;
}
a.invers:visited {
COLOR:#F2F2E1;
text-decoration: none;
}

#nav{
height:70px;
background-color:#2F614C;
color:#F2F2E1;
padding-left:30px;
border-radius: 5px 5px 5px 5px;
}
 
#nav a{
font-size:1.2em;
}

#resourse_name{
position:absolute;
top:15px;
left:40px;
}

#log{
text-align:right;
padding-right:20px;
padding-top:10px;
}

#menu{
padding-top:10px;
}

#menu a{
	background:#2F614C;
	font-weight:lighter;
	margin-right:5px;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	font-size:1.2em;
	border-radius: 5px 5px 5px 5px;
}
#menu .invers1 {
background:white;
text-decoration: none;

}
#title{
color:#646967;
}
#main{
padding-top:1em;
width:100%;
}
#advice{
float:right;
clear:both;
color:#6F7B8C;
}
#advice span{
font-size:1em;
height:100px;
}

#thread{
background-color:inherit;
}
#board{
width:70%;
margin-left:10%;
font-size:1.4em;
background-color:#EBF3F7;
border-radius:5px;
padding:2em;
}
#board li{
list-style: none;
text-decoration:none;
}
#board li a{
text-decoration:none;
}
#board span{
font-size:0.8em;
1color:#6B6E73;
color:#6F7B8C
}
#add_thread{
text-decoration:none;
color:#752114;
}

#comm{
font-family: verdana, helvetica,arial;
font-size:0.8em;

}
#comm span{
font-size:0.8em;
font-weight:bold;
color:grey;
}

#search{
height:1.2em;
width:50%;
}

#search span select {
font-size:1.1em;
height:100%;

}
#search span input{
font-size:1.1em;
height:100%;
}


#statistics{
width:70%;
margin-left:10%;
font-size:1.2em;
background-color:#F5F5E9;
border-radius:5px;
padding:2em;
float:left;
}
#location{
font-size:0.9em;
margin-left:2em;
color:#4B4E57;
}
#advtitle{
font-size:1.2em;
}
#advbody{
color:#4B4E57;
font-size:1em;
}
#statistics li {
list-style: none;
text-align:right;
}

#statistics li a{
color:#4B4E57;
font-size:0.9em;
}
#buff{
height:10px;
}

#footer{
position:relative;
padding-top:2%;
text-align:right;
clear:both;
font-weight:bold;
font-family: arial, helvetica;
c1olor:#B2B6C2;
c2olor:#4C5F7A;
color:#6F7B8C;
font-size:1em;
}
#desc{
font-size:0.8em;
font-weight:lighter;
text-align:left;
float:left;
clear:both;
}
#thumb{
float:right;
clear:both;
}
#currpag{
font-size:0.8em;
color:#6B6E73;
}


#tabl-nav li a:hover{
	color:green;
	
}
#tabl-nav li.current{ 
	background: #fff;
  padding-bottom: 4px;
}
#form{
width:30%;
font-size:1.2em;
float:left;
list-style: none;
}
.bigsubmit{
background-color:#E1F5EE;
1background-color:#D3E8D6;
border:2px solid #B3BDB9;
height:1.9em;
border-radius:5px;
width:25%;
}
#postsubmit{
width:30%;
height:1.9em;
margin-left:41%;
font-size:1em;
font-family: verdana, helvetica,arial;
color:inherit

}

#map{
width:100%;
height:30em;
margin-left:auto;
margin-right:auto; 
float:right;
clear:both;
}
 

#form  ul {
list-style:none;
width:90%;
color:inherit;
}
#form li ul li input{
width:5%;
}
#form li ul li{
font-size:1.2em;
}
#form li select{
font-size:1.2em;
}

#form  li input{
width:90%;
list-style: none;
font-family: arial, 'Helvetica', verdana;
font-size:1.2em;
color:inherit;

}

#form  textarea{
width:90%;
list-style: none;
font-family: arial, 'Helvetica', verdana;
font-size:1.2em;
color:inherit;
}
#formpost textarea{
width:70%;
list-style: none;
font-family: verdana, 'Helvetica', arial;
font-size:0.8em;
color:inherit;
}

#profileadverts{
float:right;
padding-right:15%;
}
#profileadverts td{
font-size:1.2em;
}

#balloonheaderfind{
color:#38755A;
font-weight:bold;
}

#balloonheaderlost{
color:#B5220B;
font-weight:bold;
}
#balloonthumb_img{
float:left;
padding:0.5em;
}
#balloonstamp{
float:right;
color:#52565E;
}
#balloonbuff{
clear:both;
height:1px;
background-color:#E6E6E8;
}

#ballowonline{
color:#F00; /*для IE*/
background-color:#F00; /*для нормальных браузеров*/
border:none;
height:2px;
clear:both;
}