{% extends "main/mbase.html" %}

{% block header %} - Добавление темы {% endblock %}

{%block title%} Создание новой темы {% endblock %}

{% block main %}
<div id="form">
<form method="POST" action="" type="text">
{{ form.as_ul }}
<br><br>
<li>
<input type="submit" class="bigsubmit" value="Добавить">{% csrf_token %}
</li>
</form>
</div>
{% endblock %}
