{% extends "main/mbase.html" %}
{% block header %} - Форум {% endblock %}
{% block title %} Форум {% endblock %}
{% block main %}
<div id="board" >
{% for board in boards %}
<li><a href="/board/unit/{{board.id}}/">{{ board.title }}</a>&nbsp;&nbsp;<span id="scrib">(тем:{{board.thread_set.count}})</span></li>
 <span id="scrib">последняя запись в теме:
"{{board.thread_set.latest.title}}",  автор:
{% if board.thread_set.latest.post_set.latest %}
    {{board.thread_set.latest.post_set.latest.creator.get_profile.nick}},
    {{board.thread_set.latest.post_set.latest.created}}
{% else %}
    {{board.thread_set.latest.creator.get_profile.nick}},
    {{board.thread_set.latest.created}},
  
{% endif %}  

</span>
<br> <br> 

{% endfor %}
</div>
{% endblock %}


начинаю
