{% extends "main/mbase.html" %}

{% block header %} - Профиль {% endblock %}

{%block main %}

 {% if error_mesage %}
   {{ error_message }}
 {% endif %}
 {%if user.get_profile.avatar %}
 <img src="{{user.get_profile.avatar.url}}">
 {% endif %}
 <br><br><br>
 <div id="form">
 <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
  {{ form.as_ul }}
 <br>
 <li> 
 <input type="submit" class="bigsubmit"  value="Сохранить" />
 </li>
 </form>
 </div>
 
 <div id=profileadverts>
  <h2> Мои объявления: </h2>
  {% for advert in adverts %}
  <table>
  <tr> 
     <td>{{ advert }}. <td>
     <td> &nbsp;&nbsp;Создано:{{advert.created}}
 </tr>  
  <table>
  {% endfor%}
 </div>
    
{% endblock %}
