{% extends "main/mbase.html" %}

{% block header %} - {{ thread.title }} {% endblock %}

{% block title %} {{ thread.title }} {% endblock %}

{% block main %}

<div id="board">
<div id="thread">
{% for post in records %}
<div id="comm">
  {#  <div id="last">{{ post.title }} </div> #}
   <p> {{ post.body }} </p>
    {%if post.creator.get_profile.avatar %}
     <img src="{{post.creator.get_profile.avatar.url}}">
    {% endif %}
     <span id="last">- Написал &nbsp {{post.creator.get_profile.nick }} &nbsp {{post.created|date:"d F Y в G:i"}}</span>
    <br><br>
</div>
<br>
{% endfor %}
<br>
{% if user.is_authenticated %}
    <div id="formpost">
    <form method="POST" action="" type="text"> {% csrf_token %}
    <br>
    {{ form.as_ul }}
    <input type="submit" class="bigsubmit"   id="postsubmit" value="Отправить">
    </div>
    </body>
    </form>
{% endif %}
</div>
{% endblock %}

{% block pagination %}
    
    {% if records.has_previous %}
        <a href="page={{ records.previous_page_number }}">назад</a>
    {% endif %}
    
    {% for record in records.paginator.page_range %}
        {%if record = records.number %}
        <a href="?page={{ record }}"><span>{{ record }}</span></a>&nbsp; 
        {% else %}
         <a href="?page={{ record }}">{{ record }}</a>&nbsp; 
        {% endif%}
    {% endfor%}

    {% if records.has_next %}
        <a href="?page={{ records.next_page_number }}">вперед</a>
    {% endif %}
    
</div>

{% endblock %}
