{% extends "main/mbase.html" %}

{% block header %} - {{ records.0.board }} {% endblock %}

{% block title %} {{records.0.board }} {% endblock %}

    

{% block main %}
<div id="board">
{% if user.is_authenticated %}
        <li ><a id="add_thread" href="/board/{{unitid}}/add_thread/">Добавить тему</a></li>
         <br>
{% endif%} 

    {% for thread in records %}
      <li>  <a href="/board/unit/{{unitid}}/{{thread.id}}/">{{ thread.title }}</a> 
       <span> &nbsp;&nbsp;(комментариев:{{thread.post_set.count}})</span></li>
<span id="scrib">создан:&nbsp;{{thread.creator.get_profile.nick}}&nbsp;{{thread.created}},&nbsp;
изменен:&nbsp;{{thread.post_set.latest.creator.get_profile.nick}} {{thread.changed}}
</span>
        <br><br>
    {% endfor %}
<br>

{% endblock %}



{% block pagination %}
    
    {% if records.has_previous %}
        <a href="?page={{ records.previous_page_number }}">назад</a>
    {% endif %}
    
    {% for record in records.paginator.page_range %}
        {%if record = records.number %}
        <a href="?page={{ record }}"><span>{{ record }}</span></a>&nbsp; 
        {% else %}
         <a href="?page={{ record }}">{{ record }}</a>&nbsp; 
        {% endif%}
    {% endfor%}

    {% if records.has_next %}
        <a href="?page={{ records.next_page_number }}">вперед</a>
    {% endif %}
    
</div>

{% endblock %}
