{% extends "main/mbase.html" %}

{% block header %} - Добавить объявление {% endblock %}

{% block scripts %}
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard,package.search&lang=ru-RU"
    type="text/javascript">
</script>
{% load static %}
<script src="{% static 'scripts/advert.js' %}" type="text/javascript"></script>
<style type="text/css">
#map{
width:70%;
height:30em;
margin-top:1%;
float:right;
clear:both;
}
</style>

{% endblock %}
 
{% block main %}
<div id="map"></div>

<div id="form">  
 
   <form  method="POST" action="{% url main.views.advert %}" enctype="multipart/form-data"> {% csrf_token %}
    
    {{ form.as_ul }}
    {% if user.is_authenticated %}
    <li>
    <input type="submit" id="submit" class="bigsubmit" value="Опубликовать">
    </li>
    {% endif %}
   </form>   
</div>


{% endblock %}
