{% extends "main/mbase.html" %}
{% block header %}- Карта {% endblock %}
{% block scripts %}
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"
    type="text/javascript">
</script>
{% load static %}
<script src="{% static 'scripts/map.js' %}" type="text/javascript"></script>
<script type="text/javascript">
ymaps.ready(init);
var adverts = {{ advjson|safe }};
var myMap, myPlacemark



</script>
{% endblock %}

{% block main %}



 <div id="advice"><span><img src="/media/images/button/dotred.png">-потерян,&nbsp; <img src="/media/images/button/dotdarkgreen.png">-найден. Нажмите на маркер, чтобы увидеть объявление</span>
 </div>
<div id="search">
 <form action="" method="GET">
   <span><select class="bigsubmit" size="1" name="period" >
    <option selected disabled>Период</option>
    <option value="1">Сутки</option>
    <option value="3">Три дня</option>
    <option value="7">Неделя</option>
    <option value="30">Месяц</option>
    <option value="180">Полгода</option>
    <option value="50000">За все время</option>
   </select>  
   &nbsp;&nbsp;
<span><select class="bigsubmit" size="1" name="atype" onchange="if (this.selectedIndex) this.form.submit()">
    <option selected disabled>Тип</option>
    <option value="3">Все</option>
    <option value="0">Потерянные</option>
    <option value="1">Найденные</option>
   </select>  
  
   &nbsp;&nbsp;</span> 
  </form>
  </div>

  <br>
<div id="map"></div>
<div id="footer">
<span id="desc">Потерялась собака или кошка? Размести объявление о пропаже животного с фото, на карте. Поиск пропавших и найденных животных по городам и датам</span>
<hdr align="right" width="300px">
mail to: geodefcon @ gmail com <br>
<span style="font-size:24px;">Django framework</span>
</div>

{% endblock %}
