<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <meta http-equiv="content-language" content="ru">
  <meta name="keywords" content="пропал, потерялась, пес, собака, кошка, кот, поиск">
  <meta name="description" content="Потерялась собака или кошка? Размести объявление о пропаже животного с фото, на карте. Поиск пропавших и найденных животных по городам и датам">
  <title> Поиск пропавших животных {% block header %}{% endblock %} </title>

  <link rel="stylesheet" href=
  "/media/css/main.css" type="text/css" media="screen" charset="utf-8" />
   <link rel="stylesheet" href=
  "/media/css/tinybox2.css" type="text/css" media="screen" charset="utf-8" />
  {% load static %}
  <script src="{% static 'scripts/tinybox.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/mbase.js' %}" type="text/javascript"></script>
 
 
  {% block scripts %}
  {% endblock %}
 </head>
 
 <body>
 {% block nav %}
   <div id="nav">
                {% if user.is_authenticated %}  
                <div id="log">
                <a class="invers" href="{% url board.views.profile %}">Профиль</a>&nbsp;&nbsp;
                <a class="invers" href="/accounts/logout/?next=/board/">Выйти</a> &nbsp;&nbsp;
                
                {% if user.is_staff %} <a  class="invers"  href="{% url admin:index %}">Админка</a> {% endif %}
                </div>
                {% endif %}

                {% if not user.is_authenticated %}
                <div id="log">
                <a class="invers" href="/accounts/register/">Регистрация</a>&nbsp;&nbsp;
                <a class="invers" href="/accounts/login/?next={% url main.views.stat %}">Войти</a> 
                </div>
                {% endif %}
         <div id="resourse_name"> <h1>Поиск пропавших животных</h1> </div>
 </div>
 {% endblock %}
 <div id="menu">
   <a id="geo" class="invers" href="/"> Карта событий</a>
   <a id="about" class="invers" href="/stat/"> Объявления</a>
   <a id="stat" class="invers" href="/advert/"> Добавить объявление</a> 
   <a id="stat" class="invers" href="/board/"> Форум</a>
 </div>

<div id="main">
<h1 id="title" >{% block title %} {% endblock %}</h1>
{% block login %} {% endblock %}
{% block main %}
{% endblock %}

<br><br>
{% block pagination %}
{% endblock %}

</div>
</body>
</html>






