{% extends "main/mbase.html" %}

{% block header %} - Объявления {% endblock %}

{% block scripts %}
{% endblock %}

{% block main %}
 <div id="search">
 <form action="/stat/" method="GET">
   <span><select class="bigsubmit" size="1" name="period">
    <option selected disabled>Период</option>
    <option value="1">Сутки</option>
    <option value="3">Три дня</option>
    <option value="7">Неделя</option>
    <option value="30">Месяц</option>
    <option value="180">Полгода</option>
    <option value="50000">За все время</option>
   </select>  
   &nbsp;&nbsp;<input type="search" id="town" name="town" placeholder="Населенный пункт">
  
   &nbsp;&nbsp;<input type="submit" class="bigsubmit" value="Вывести"></span>
  </form>
  </div>
  <br>
  <br>
  
 
<div id="statistics">
{% for advert in records %}
 
<span id="advtitle">{{ advert.title }} </span>  
<span id="location"> 
 {{advert.created|date:"d F Y"}} 
 {{advert.country}} 
  {{ advert.city }}  
 </span> 
 {% if advert.filename %}
 <span id="thumb">
 <a href="#" onclick="TINY.box.show({image:'{{advert.photo.url}}',boxid:'frameless',maskid:'greymask',opacity:20})"><img  src="/media/images/advert/thumb/{{advert.filename}}"> </a>
 <li><a href="#" onclick="TINY.box.show({image:'{{advert.photo.url}}',boxid:'frameless',maskid:'greymask',opacity:20})">Увеличить</a></li>
 </span>
  {% endif %}
 
 <br>
 <div id="buff"></div>


<span id="advbody">{{ advert.body}} </span>  <br><br> <br>
 

{% endfor %}
 

{% endblock %}

{% block pagination %}
  <span id="advtitle">    
    {% if records.has_previous %}
        <a href="?{{path}}&amp;page={{ records.previous_page_number }}">назад</a>
    {% endif %}
    
    {% for record in records.paginator.page_range %}
        {%if record = records.number %}
        <a href="?{{path}}&amp;page={{ record }}"><span id="currpag">{{ record }}</span></a>&nbsp; 
        {% else %}
         <a href="?{{path}}&amp;page={{ record }}">{{ record }}</a>&nbsp; 
        {% endif%}
    {% endfor%}

    {% if records.has_next %}
        <a href="?{{path}}&amp;page={{ records.next_page_number }}">вперед</a>
    {% endif %}
    
    </span>
</div>
{% endblock %}



