{% extends "main/mbase.html" %}
 
 {% block header %} Активация завершена!  {% endblock %}
 {% block title %} Активация завершена !{% endblock %}
 {% block main %}
 <h2><a  href="/accounts/login/?next={% url main.views.advert %}">Войти</a> на сайт </h2>
  
 {% endblock %}

