{% extends "main/mbase.html" %}
{% block header %} - Ваш аккаунт активирован!  {% endblock %}

{% block title %} Ваш аккаунт активирован! {% endblock %}
    
{% block main %}
    <h2><a href="/accounts/login/?next={% url main.views.advert %}">Войдите</a> </h2>
{% endblock %}
