{% extends "main/mbase.html" %}
{% load i18n %}

{% block header %} - Добро пожаловать!  {% endblock %}


{% block title %} Добро пожаловать! {% endblock %}
{% block main %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="form">
    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
     {{form.as_ul}}
    <br>
    <li>
    <input type="submit" class="bigsubmit" value="{% trans 'Log in' %}" />
    </li>
 
   </form>
   <br><br>
   <li> <a href="/accounts/password/reset/">Забыли пароль ?</a></li>
   <p>   <a href="/accounts/register/">Регистрация</a>   </p>
</div>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}

