{% extends "main/mbase.html" %}

{% block header %} - Сброс пароля  {% endblock %}
{% block title %} Сброс пароля{% endblock %}
{% block main %}
        <div id="form">
        <form action="/accounts/password/reset/" method="POST">{% csrf_token %}
            {{ form.as_ul }}
            <br>
        <li>
            <input type="submit" class="bigsubmit" value="Отправить" />
        </li>
        </form>
        <div>
{% endblock %}
    

