{% extends "main/mbase.html" %}
{% block header %} - Регистрация  {% endblock %}

{% block title %} Регистрация {% endblock %}
{% block main %}
        <div id="form">
        <form action="/accounts/register/" method="POST">{% csrf_token %}
            {{ form.as_ul }}
            <br>
        <li>
            <input type="submit" class="bigsubmit"  value="Зарегистрироваться" />
        </li>
        </form>
        <div>
{% endblock %}
    

