{% extends "main/mbase.html" %}
{% block header %} - Регистрация завершена!  {% endblock %}

{% block title %} Регистрация завершена !   {% endblock %}
{% block main %}
<h3> Для <span id="balloonheaderlost" >активации аккаунта</span>, зайдите на свой почтовый ящик</h3>
{% endblock %}
 
